
@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
    animation-delay: 0;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: translateX(calc(-100vw + 32.5vw)) rotate(0deg);
  }
  to {
    transform: translateX(calc(100vw - 32.5vw)) rotate(360deg);
  }
}



@font-face {
  font-family: Raleway;
  src: url("./Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: Raleway-Semi;
  src: url("./Raleway/Raleway-Bold.ttf");
}
.main-index-tilt {
  height: 500px;
}
.main-cont {
  padding: 0;
  height: 100vh;
}
.p-class {
  font-size: 30px;
  text-align: left;
  font-family: "Raleway-Semi", sans-serif;
  line-height: 2.5rem;
  text-transform: uppercase;
}
.header-text {
  animation: showfirst ease;
  animation-duration: 2s;
  padding-top: 200px;
}
.p-class div {
  display: inline-block;
}
.text-1 {
  animation: fadeInUpBig 2s ease;
  margin-right: 10px;
}
.text-2 {
  animation: fadeInUpBig 2s ease;
  animation-delay: 0.1s;
  margin-right: 10px;
}
.text-3 {
  animation: fadeInUpBig 2s ease;
  animation-delay: 0.2s;
  margin-right: 10px;
}
.text-4 {
  animation: fadeInUpBig 2s ease;
  animation-delay: 0.3s;
}
.text-5 {
  animation: fadeInUpBig 2s ease;
  animation-delay: 0.4s;
  margin-right: 10px;
}
.text-6 {
  animation: fadeInUpBig 2s ease;
  animation-delay: 0.5s;
}
@keyframes showfirst {
  0%,
  30% {
    opacity: 0;
  }
  30.1%,
  100% {
    opacity: 1;
  }
}
.main-heading {
  text-align: left;
}
h2 {
  position: absolute;
}
h3 {
  position: absolute;
}
.header-text {
  padding-bottom: 0;
  display: block;
}
.text-u-header1,
/* .text-u-header2, */
.text-container {
  text-transform: uppercase;
  font-size: 8px;
  font-family: "Raleway";
  /* display: inline-block; */
  white-space: nowrap;
}
.text-container {
  overflow: hidden;
}
.text-u-header1 {
  float: left;
}
.text-u-header2 {
  margin-top: 0;
  width: 140px;
  list-style: none;
  padding-left: 2px;
  text-align: left;
}
.text-u-header1 {
  animation: showup 10s ease;
}
.text-u-header2 {
  animation: slidein 13s;
}
.text-container {
  animation: reveal 13s ease;
}
@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 0;
    width: 0px;
  }
  30% {
    width: 140px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    width: 140px;
  }
}
@media (min-width: 700px) {
  .p-class {
    font-size: 50px;
    line-height: 4rem;
    text-align: center;
    padding-bottom: 20px;
  }
  .main-index-tilt {
    height: 1000px;
  }
  .header-text {
    padding-top: 400px;
  }
  .text-u-header {
    height: 20px;

  }
  .text-u-header,
  .text-u-header2 {
  
    display: inline-block;
  }
  .text-u-header1,
  .text-u-header2 {
    font-size: 18px;
    letter-spacing: 2px;
  }
  .text-u-header2 {
    width: 290px;
    padding-left: 5px;
  }
  .text-u-header1 {
    display: inline;
  }
  .u-header {
    height: 160px;
    padding-top: 0px;
    text-align: center;
    overflow: hidden;
  }
  .text-1,
  .text-2,
  .text-3,
  .text-5 {
    margin-right: 20px;
  }
  @keyframes reveal {
    0% {
      opacity: 0;
      width: 0px;
    }
    20% {
      opacity: 0;
      width: 0px;
    }
    30% {
      width: 290px;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      width: 290px;
    }
  }
}
@media (min-width: 1300px) {
  .p-class {
    font-size: 75px;
    line-height: 5.5rem;
  }
  .main-index {
    height: 850px;
  }
  .text-u-header1,
  .text-u-header2 {
    font-size: 25px;
  }
  .text-u-header {
    height: 22px;
  }
  .text-u-header2 {
    width: 380px;
  }
  @keyframes reveal {
    0% {
      opacity: 0;
      width: 0px;
    }
    20% {
      opacity: 1;
      width: 0px;
    }
    30% {
      width: 380px;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      width: 380px;
    }
  }
}